body{
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden; 
    background-color: white;
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.main
{
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.box {
    transition: transform 0.3s ease, filter 0.3s ease;
    display: flex;
    justify-content: center;
    text-align: center;
}

.box h3{
    margin-top: 23vh;
}
